﻿@model Quickshop.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@*@using (Html.BeginForm())
    {*@
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductId, new { htmlAttributes = new { id = "pID"} })

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "name", @class = "form-control", disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })

        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })

        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { id="amount", @class = "form-control", disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })

    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control" id="cardNumber" placeholder="Card Number">
        </div>
        <div class="form-group col-md-4">
            <input type="date" class="form-control" id="cardNumberExpiration" placeholder="Expiration Date">
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" id="cardNumberCVV" placeholder="CVV">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="PAY NOW" id="submit" class="btn btn-success" />
        </div>
    </div>
</div>
@* } *@


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {
            $("#submit").click(function (e) {
                if ($("#cardNumber").val() == "")
                    alert("Card Number cannot be empty");
                else if ($("#cardNumberExpiration").val() == "")
                    alert("card Number Expiration cannot be empty");
                else if ($("#cardNumberCVV").val() == "")
                    alert("card Number CVV cannot be empty");
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Products/payment",
                        contentType: "application/json; charset=utf-8",
                        data: '{"amount":"' + $("#amount").val() + '","cardnumber":"' + $("#cardNumber").val() + '","expiration":"' + $("#cardNumberExpiration").val() + '","cvvs":"' + $("#cardNumberCVV").val() + '","pID":"' + $('#@Html.IdFor(m=>m.ProductId)').val() + '"}',
                        dataType: "json",
                        success: function (response) {

                            if (response.success) {
                                alert(response.responseText);
                                 window.location.href = '@Url.Action("Index","Products")';
                            } else {
                                // DoSomethingElse()
                                alert(response.responseText);
                                 window.location.href = '@Url.Action("Index","Products")';
                            }


                        },
                        error: function (response) {
                            alert("ERROR!!!");
                        }
                    });
                }
                return false;
            });
        });
</script>
}

