﻿@model IEnumerable<Bank.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.accountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.UId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.accountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.accId }) |
            @Html.ActionLink("Details", "Details", new { id=item.accId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.accId })
        </td>*@
    </tr>
}

</table>
