﻿@model Bank.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.merchant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.merchant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priobalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priobalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postbalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postbalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.transId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
