﻿@model IEnumerable<Bank.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.accId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merchant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priobalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postbalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.accId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.merchant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priobalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postbalance)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.transId }) |
            @Html.ActionLink("Details", "Details", new { id=item.transId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.transId })
        </td>*@
    </tr>
}

</table>
