﻿@model IEnumerable<Bank.Models.Card>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cvv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expirationDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.accId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cvv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expirationDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.accId)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.cardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cardId })
        </td>*@
    </tr>
}

</table>
